<h1>New entry</h1>
<hr>

<%= form_for @new_entry do |entry| %>
  <p>
    <%= label_tag(:word, "Word:") %>
    <%= entry.text_field :word %>
  </p>

  <p>
    <%= label_tag(:definition, "Definition:") %>
    <%= entry.text_field :definition %>
  </p>

  <p>
    <%= label_tag(:language, "Language:") %>
    <%= entry.text_field :language %>
  </p>

  <p>
    <%= entry.submit %>
  </p>
<% end %>
<hr>
<h2><%=link_to 'All entries', entries_path %></h2>
