<h1>This is the entry # <%= params[:id] %></h1>

  <h2><%=@entry.word%></h2>
  <li>Definition: <%=@entry.definition%></li>
  <li>Language: <%=@entry.language%></li>
  <hr>
  <br>
  <h3><%=link_to 'All entries', entries_path %> | <%=link_to 'Edit', edit_entry_path %> | <%= link_to "Delete", entry_path(@entry), method: :delete, data: {confirm: "Are you sure you want to delete the word '#{@entry.word}'?"} %></h3>
